.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.canvas {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  position: fixed;
  top: 24px;
  left: 24px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  pointer-events: none;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.title.fadeOut {
  opacity: 0;
}

@media (max-width: 768px) {
  .title {
    top: 12px;
    left: 12px;
    font-size: 10px;
  }
}

